div.content {
  width: 430px;
  margin: 20px auto 0 auto;
  text-align: center;
}
button {
  margin: 3px 3px 3px 3px;
}
button[value="red"] {
  background-color: red;
}
button[value="green"] {
  background-color: green;
}
button[value="blue"] {
  background-color: blue;
  color: gray;
}
