/* latin */
@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: 400;
  src: local('Marck Script'), local('MarckScript-Regular'), url(https://fonts.gstatic.com/s/marckscript/v7/O_D1NAZVOFOobLbVtW3bcugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
	background-color: #eee;
}
div.content {
    width: 400px;
    margin: 0 auto 0 auto;
    text-align: center;
}
ul {
    text-align: left;
    list-style-type: none;
    font-size: x-large;
    font-weight: bold;
}
li {
	font-family: 'Marck Script', cursive;
}
li.crossed {
    text-decoration: line-through;
    color: #888;
}
